<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ name }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{{ url_for('static', filename='css/general.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/general.js') }}"></script>
</head>
<body>

<!--
    up Container
-->
    <div class="container" id="main">
    <div id="sub_main">

<!--
    Alert row
-->
    <div class="row">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>

<!--
    Add row
-->

    <div class="row">
        <div class="col-xs-12">
        <h2>{{ _('Add transaction') }}</h2>

        <form method="post" action="{{ logname }}/add">
        <div class="row rowform">
                <div class="col-xs-4">
                        <div class="row">
                        <label for="giver">{{ _('Giver') }}</label>
                        <select class="form-control actor" name="giver" id="giver" autofocus>
                        {% for item in actors %}
                            <option class="actor" value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                        </select>

                        <br />

                        <div class="form-group">
                            <label class="sr-only" for="amount">{{ money }}</label>
                            <div class="input-group">
                                <div class="input-group-addon">{{ money }}</div>
                                <input class="form-control" type="text" name="amount" id="amount" placeholder="{{ _('Amount') }}" maxlength="20" required/>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-xs-8">

                    <label>{{ _('Receivers') }}</label><br />
                    {% for item in actors %}
                        <label class="btn btn-default receivers" for="{{ item }}">
                            <input type="checkbox" name="{{ item }}" id="{{ item }}"  checked="true"/> <span class="actor">{{ item }}</span>
                        </label>
                    {% endfor %}

                </div>
            </div>
        <div class="row rowform">
            <p>
            <label class="sr-only" for="description">{{ _('Description') }}</label><br />
            <input class="form-control" type="text" name="description" id="description" placeholder="{{ _('Description') }}" maxlength="1000" required/>
            </p>
            <input class="btn btn-primary" type="submit" value="{{ _('Send transaction') }}" />
        </div>
        </form>

        </div>
    </div>

<!--
    Equilibrium row
-->

    <div class="row">

        <div class="col-sm-8">
            <h2>{{ _('Balance') }}</h2>

            <table class="table">
                {% for item in equilibrium %}
                <tr>
                    <td class="name_col"><strong>{{ item[0] }}</strong></td>
                    <td><div class="progress">
                        {% if item[1] < 0 %}
                            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ item[2] }}%;">
                        {% else %}
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ item[2] }}%;">
                        {% endif %}
                        {{ item[1] }} {{ money }}
                      </div>
                    </div></td>
                </tr>
                {% endfor %}
            </table>

        </div>

        <div class="col-sm-4 text-right">
            <h2><small>{{ _('Add person') }}</small></h2>
            <form method="post" action="{{ logname }}/add_user">
                <p>
                    <label class="sr-only" for="new_user">{{ _('New user') }}</label>
                    <input class="form-control" type="text" name="new_user" id="new_user" placeholder="{{ _('New user') }}" maxlength="20" required/>
                </p>

            <input class="btn btn-primary" type="submit" value="{{ _('Send name') }}" />

            </form>
        </div>
    </div>

<!--
    Summary row
-->

    <div class="row">
        <div class="col-sm-7">
            <h2>{{ _('Summary') }}</h2>
            <p class="summary">
            {% for item in summary %}
                    {% autoescape false %}
                    {{ _('<strong>%(one)s</strong> owes <strong>%(amount)s %(currency)s</strong> to <strong>%(another)s</strong>.',
                        one=item[1], amount=item[2], currency=money, another=item[0]) }}
                    {% endautoescape %}
                        <br />
            {% endfor %}
            </p>
        </div>

        <div class="col-sm-5 text-right">
            <h2><small>{{ _('Total amount spent') }}</small></h2>
            <p><strong>{{ total }} {{ money }}</strong></p>
        </div>

    </div>

<!--
    End first container
-->
    </div>
    </div>


<!--
    Log
-->

    <div class="container" id="log_container">

<!--
    PROBLEM WITH STATIC URL AND NON LOCAL DB FILE !!
-->
    <h2>{{ _('Log') }} <a class="btn btn-default btn-sm" href="{{ logname }}/download">{{ _('Download') }}</a></h2>


    <form method="post" action="{{ logname }}/rm_transaction" onsubmit="return confirm('Do you really want to remove the selected transactions ?');">
    <div class="table-responsive">
    <table class="table table-condensed table-striped" id="history">
        <tr>
            <th>{{ _('Date & Time') }}</th>
            <th>{{ _('Giver') }}</th>
            <th>{{ _('Amount') }}</th>
            <th>{{ _('Receivers') }}</th>
            <th>{{ _('Description') }}</th>
            <th class="last_col"><input type="checkbox" onClick="toggle(this, 'rm_line')" /></th>
        </tr>
    {% for item in history %}
        <tr>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}  {{ money }}</td>
            <td>{{ item[4] }}</td>
            <td>{{ item[5] }}</td>
            <td class="last_col"><input class="rm_line" type="checkbox" name="rm_line{{ item[0] }}" id="rm_line{{ item[0] }}" /></td>
        </tr>
    {% endfor %}
        <tr>
            <th>{{ _('Date & Time') }}</th>
            <th>{{ _('Giver') }}</th>
            <th>{{ _('Amount') }}</th>
            <th>{{ _('Receivers') }}</th>
            <th>{{ _('Description') }}</th>
            <th class="last_col">
                <button type="submit" class="btn btn-default"><img src="{{ url_for('static', filename='img/edit-clear.png') }}" alt="{{ _('Remove selected') }}"/></button>
            </th>
        </tr>
    </table>
    </div>

    </form>

<!--
    Source code
-->
    <p>
        {{ _('Source code:') }} <a href="https://framagit.org/nuccio/endebts">https://framagit.org/nuccio/endebts</a>
    </p>
<!--
    Close down container
-->
    </div>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
